<launch>
    <arg name="name" doc="specify the name of the bag file to be saved" />

    <node pkg="rosbag" type="record" name="record_sensors"
      args="record -O /home/ohrad/Data/subT/radar-rig/outdoors_2019-07-02/$(arg name)
      /tf
      /tf_static
      /radar_fwd/mmWaveDataHdl/RScan
      /radar_lat/mmWaveDataHdl/RScan
      /radar_right/mmWaveDataHdl/RScan
      /radar_left/mmWaveDataHdl/RScan
      /scan
      /imu/data_raw
      /imu/data
      /camera/depth/image_rect_raw
      /camera/color/image_raw
      /vrpn_client_node/radar_rig/pose
      /vrpn_client_node/radar_rig/twist"/>
</launch>
